<table>
  <tr>
    <th><h2>商品一覧</h2></th>
    <th><p>(全<%= @products.count %>件)</p></th>
    <th><p>ジャンル検索(仮)</p></th>
  </tr>
</table>
<table>
  <th>
    <% @products.each do |product| %>
    <%= attachment_image_tag product, :image, :fill, 150, 150 %>
    <h5><%= link_to product.name, public_product_path(product.id) %></h5>
    <h5>¥<%= product.price %></h5>
    <% end %>
  </th>
</table>


