<div class="container">
  <div class="row">
      <div class="col-12">
        <div class="text-center">
        <%= image_tag 'img/ogata.png', :size =>'500x500' %>
        <strong><h1>サンキューっ！！！</h1></strong>
      </div>
    </div>
  </div>
</div>