/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

header{
  background-color: #336633;
  background-position: center center;
}

footer{
  width: 100%;
  // position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  margin-bottom: -200px;
}

.size {
  font-family: 'Hannotate TC',sans-serif;
  margin-left: 35px;
  color:#FFFFFF;
  font-size:27px;

}
.footer_text{
  color:#FFFFFF;
  font-size:15px;
}


body {
  background-image: url(img/pexels-photo-1303092);
  background-position: center center;
  background-size: cover;

}

 .main{
  font-family: 'Hannotate TC',sans-serif;
  font-size:25px;


  // background-repeat: round;
  // background-attachment: fixed;
  min-height: 100vh;
}

.fonttext{
  font-family: 'Hannotate TC',sans-serif;
  font-size:25px;
  color:#000000;

}


.back_img {
  background-image : url(img/L12303981-1024x683.jpeg);
  background-position: center center;
  background-size: cover;
  width: 700px;
}

.wrapper{
  min-height: 100vh;/*①高さの最小値*/
  position: relative;/*②相対位置*/
}
.push {
  height: 200px;/*フッターと同じ高さに指定*/
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}


.marker_hoso {
  display: inline-block;
background: linear-gradient(transparent 60%, #DDDDDD 60%);
}

